###### Paramètres requis

URL_ADMIN = 'geotrek-admin.cevennes-parcnational.net'
URL_RANDO = 'destination.cevennes-parcnational.fr'
CONTACT = 'contact@cevennes-parcnational.fr'
DEFAULT_LICENSE = 'CC-BY-SA-ND'

# Correspondance entre les catégories de la BDD Geotrek
# et les valeurs autorisées par le schéma
# pour les deux champs dont la liste des valeurs est contrainte
DB_CAT_TO_SCHEMA_CAT = {
    'route': {
        'boucle': 'boucle',
        'aller-retour': 'aller-retour',
        'itinérance': 'itinérance',
        'Descente': 'aller simple'
    },
    'practice': {
        'Trail': 'trail',
        'Sentiers de découverte': 'pédestre',
        'Rando à pied': 'pédestre',
        'A cheval': 'équestre',
        'VTT': 'VTT',
        'Snorkeling': 'autre'
    },
}


###### Paramètres facultatifs

# Filtres à laisser en tant que listes vides si non utilisés
PORTALS_NAME = []
TREK_NAME_EXCLUDE = ['®']
SOURCE_NAME_EXCLUDE = ['randonnée pédestre', 'autre source à exclure']
PRACTICE_NAME_EXCLUDE = ['Nom de pratique à exclure']

# Correspondance entre le topo_object_id d'un itinéraire
# et l'identifiant de la relation OpenStreetMap correspondante
TOPO_ID_TO_ID_OSM = {99999999: 13716496} # exemple d'association entre topo_object_id et identifiant OSMs

# Renseignement du champ type_sol
CALCUL_TYPE_SOL = False

# En phase de test, renseigner un nombre entier
# pour limiter le nombre d'itinéraires générés
LIMIT_DATA = None
