# Paramètres de téléversement data.gouv.fr
API_KEY=CLE
DATASET=CLE
RESOURCE=CLE

# Paramètres optionnels : nom du fichier envoyé à data.gouv.fr
EXPORT_FILE_NAME=MONFICHIER # ligne à supprimer si paramètre non utilisé
